// @use 'placeholder' as *;
@use 'var' as *;
@use 'mix' as *;

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* border-box */
*,
*::before,
*::after {
    box-sizing: inherit;
}

// --- HTML settings: box sizing, selection
html {
    @include box-sizing (border-box);
    @include selection;
}


body {
    font-family: 'Overpass', sans-serif;
    @include beathingBackround($clr11, $clr12);
}

.hidden {
    display: none;
}

.container {
    height: 100vh;
    max-width: 412px;
    @extend %autoMargin;
}

p {
    @extend %weight-400;
    @extend %clr15;
    font-size: var(--par-fs);
    line-height: em(24, 15);
}

// --- keep it in the middle ---
.mrFlex {
    @include flex($direction: column, $justify: center, $align: center);
}

.content {
    @include radialGradient;
    @include noSelection;
    @extend %borderRadius30;
    min-height: 26rem;
    padding: 2rem;

    .content-star {
        @include flexCenter;
        @extend %backClr13;
        @extend %borderRadius50;
        width: 3rem;
        height: 3rem;
    }

    .content-heading {
        @extend %clr10;
        @extend %weight-700;
        font-size: var(--h1-fs);
        line-height: em(35, 28);
    }

    .h1--margin {
        margin: 2.7rem 0 .3em 0
    }
}


// --- second display --- 
.thanks {
    text-align: center;
    @extend .content;

    .thanks-js {
        @extend %output;
        @extend %autoMargin;
        @extend %backClr13;
        @extend %borderRadius30;
        display: inline-block;
        padding: .5em 2em;
        margin: 2rem 0;
    }

    .thanks-heading {
        @extend .content-heading;
    }

    .h2--margin {
        margin-bottom: .3em;
    }
}


@media only screen and (max-width: 500px) {

    :root {
        --h1-fs:#{$h1Min};
        --par-fs:#{$parMin};
        --btn-fs:#{$btnMin};
        --num-fs:#{$numMin};
    }

    .container {
        padding: 0 2rem;
    }

    .content {
        padding: 1rem;
        min-width: 15.125rem;

    }
}