@use 'var' as *;
@use 'mix' as *;

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* border-box */
html {
    @include box-sizing (border-box);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* --- vyber --- */
@include selection {
    background-color: #1683ff;
    color: #ffffff;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: $clr14;
}

.container {
    height: 100vh;
    max-width: 412px;
    @extend %autoMargin;
}

p {
    @extend %weight-400;
    @extend %clr11;
    font-size: var(--par-fs);
    line-height: em(24, 15);
}

.mrFlex {
    @include flex($direction: column, $justify: center, $align: center);
}

.content {
    @include radialGradient;
    @include noSelection;
    @extend %borderRadius30;
    min-height: 26rem;
    padding: 2rem;

    .content-star {
        @include flexCenter;
        @extend %backClr13;
        @extend %borderRadius50;
        width: 3rem;
        height: 3rem;
    }

    .content-heading {
        @extend %clr10;
        @extend %weight-700;
        font-size: var(--h1-fs);
        line-height: em(35, 28);
    }

    .h1--margin {
        margin: 2.7rem 0 .3em 0
    }

    .content-list {
        @include flex;
        text-align: center;

        .content-list-item {
            @extend %backClr13;
            @extend %borderRadius50;
            width: 3.1875rem;
            height: 3.1875rem;
            margin: 1.5rem 0 2rem 0;

            input {
                width: 100%;
                height: 100%;
                z-index: 100;
                cursor: pointer;
                appearance: none;
                position: relative;
                @include flexCenter;
                @extend %borderRadius50;
                transition: color ease-in-out .2s, background-color ease-in-out .2s;

                &:checked {
                    background-color: $clr12;
                }

                &::before {
                    @extend %listItemFont;
                    position: absolute;
                    z-index: 10;
                    transition: color ease-in-out .2s;
                }

                &:hover {
                    @extend %backClr15;
                }

                &:hover::before {
                    @extend %clr10;
                }

                &:checked::before {
                    @extend %clr10;
                }

                &:active {
                    background-color: $clr12;
                    transition: background-color ease-in-out 0.1s;
                }
            }
        }

        @for $i from 1 to 6 {

            & .content-list-item:nth-child(#{$i})input:before {
                content: "#{$i}";

            }
        }
    }

    .content-submit {
        @extend %btn;

        &:hover {
            @extend %backClr10;
            @extend %clr12;
        }
    }
}

.thanks {
    text-align: center;
    @extend .content;

    .thanks-js {
        @extend %output;
        @extend %autoMargin;
        @extend %backClr13;
        @extend %borderRadius30;
        display: inline-block;
        padding: .5em 2em;
        margin: 2rem 0;
    }

    .thanks-heading {
        @extend .content-heading;
    }

    .h2--margin {
        margin-bottom: .3em;
    }
}


@media only screen and (max-width: 500px) {

    :root {
        --h1-fs:#{$h1Min};
        --par-fs:#{$parMin};
        --btn-fs:#{$btnMin};
        --num-fs:#{$numMin};
    }

    .container {
        padding: 0 2rem;
    }

    .content {
        padding: 1rem;
        min-width: 15.125rem;

        .content-list .content-list-item {
            width: 2.625rem;
            height: 2.625rem;
        }
    }
}